*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

h1{
    color:#242323;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.container{
    /* navbar container */
    max-width: 1500px;
    margin: 0 auto;
  
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
} 

nav { 
    /* positioning of the navbar */
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 32px;
    background-color: rgb(255, 178, 34);
}

.hamburger{
    /* For mobile menu */
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: #242323;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}
.menu{
    display: none;
    flex :1 1 0%;
    justify-content:  flex-end;
    margin: 0 -16px;
}

.menu a {
    color: black;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: white;
}

.hamburger:hover span:nth-child(2) {
    /*hover effect for one of the span*/
    transform: translateX(10px);
    background-color: #eff3f7;
}

@media (min-width: 768px) {
    /* for mobile device resposivenes */
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}


body{
    /* positioning of elements inside */
    margin-top: 110px; 
    flex-direction: column; 
    align-items: center;

    /* background color of entire page */
    background-color: rgb(30, 142, 30);
}

main {
    /* positioning of elements inside */
    display: flex;
    flex-direction: row;
}

section {
    /* positioning of elements inside */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* sizing of box */
    width: 400px;
    height: 70vh; /* height based on window size */
    min-height: 400px;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

section.shopping{
    background-color: rgb(10, 93, 218);
}

section.inventory{
    background-color: rgb(235, 51, 51);
}

ul {
    /* sizing of box */
    height: 100%; 
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;

    /* other list properties */
    overflow: scroll;
    list-style: none;
    background-color: white;  
}

li{
    /* sizing of box */
    padding: 10px;
    border: 1px solid #ccc;

    /* text apearance */
    text-align: center;
    font-size: 16px;
}

button {
    /* box sizing */
    border-radius: 10px;
    padding: 6px 15px;
    background: #eff3f7;

    /* text appearance */
    color: #242323;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}