*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    /* positioning of elements inside */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background color of entire page */
    background-color: rgb(30, 142, 30);
}

main {
    /* positioning of elements inside */
    display: flex;
    flex-direction: row;

    background-color: rgb(30, 142, 30);
}

section {
    /* positioning of elements inside */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* sizing of box */
    width: 400px;
    height: 70vh; /* sizing based on window size */
    min-height: 400px;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

section.shopping{
    background-color: rgb(10, 93, 218);
}

section.inventory{
    background-color: rgb(235, 51, 51);
}

ul {
    /* sizing of box */
    height: 100%; 
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;

    /* other list properties */
    overflow: scroll;
    list-style: none;
    background-color: white;  
}

li{
    /* sizing of box */
    padding: 10px;
    border: 1px solid #ccc;

    /* text apearance */
    text-align: center;
    font-size: 16px;
}

button {
    /* box sizing */
    border-radius: 10px;
    padding: 6px 15px;
    background: #eff3f7;

    /* text appearance */
    color: #242323;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}